langchain
langchain-core
langchain-groq
langchain-community
langgraph
langchain-huggingface
chromadb
tavily-python
sentence-transformers
wikipedia
cassio
typing_extensions
dotenv
youtube_search
wikipedia
arxiv
youtube-transcript-api
pytest
black
isort
rich
opencv-python
deepface
pillow
numpy
pandas
altair
mediapipe
pillow
pandas
altair
librosa
scikit-learn
sounddevice
scipy==1.10.1
uvicorn
langchain_astradb
psycopg2-binary
sqlalchemy
pgvector
langchain-postgres
groq
tf-keras
# Added for FastAPI backend
fastapi
slowapi
pydantic
python-dotenv
python-multipart
httpx
googletrans
requests
torch